PinBoxServer/PinBoxServer/Debug/PinBoxServer.tlog/link.read.1.tlog
PinBoxServer/PinBoxServer/Debug/
PinBoxServer/PinBoxServer/Release/
PinBoxServer/PinBoxServer.VC.db
PinBoxServer/PinBoxServer.VC.VC.opendb
PinBoxServer/ipch/
PinBox/tmp/
PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject.VC.db
PinBoxTestProject/PinBoxTestProject.VC.VC.opendb
PinBoxServer/PinBoxServer/test/
PinBox/PinBox/build/
PinBox/PinBox/PinBox.3dsx
PinBox/PinBox/PinBox.elf
PinBox/PinBox/PinBox.log
PinBox/PinBox/PinBox.smdh
PinBox/PinBox.VC.db
PinBox/PinBox/tools/
PinBoxServer/PinBoxServer/test.wav
PinBox/PinBox.VC.VC.opendb
PinBox/PinBox/backup/
PinBox/PinBox/data/dog.webp
