PinBoxServer/PinBoxServer/Debug/
PinBoxServer/PinBoxServer/Release/
*.db
*.opendb
PinBoxServer/ipch/
PinBox/tmp/
PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject.VC.db
PinBoxTestProject/PinBoxTestProject.VC.VC.opendb
PinBoxServer/PinBoxServer/test/
PinBox/PinBox/build/
PinBox/PinBox/PinBox.3dsx
PinBox/PinBox/PinBox.elf
PinBox/PinBox/PinBox.log
PinBox/PinBox/tools/citra
PinBoxServer/PinBoxServer/test.wav
PinBox/PinBox/backup/
PinBox/PinBox/data/dog.webp
Release/
*.rar
PinBoxServer/Release/webp.dll
PinBox/PinBox/PinBox-strip.elf
*.cia
*.exe
PinBoxServer/Debug/
PinBoxServer/Release/
PinBox/PinBox/PinBox.smdh
*.ilk
*.suo