PinBoxServer/PinBoxServer/Debug/PinBoxServer.tlog/link.read.1.tlog
PinBoxServer/PinBoxServer/Debug/
PinBoxServer/PinBoxServer/Release/
PinBoxServer/PinBoxServer.VC.db
PinBoxServer/PinBoxServer.VC.VC.opendb
PinBoxServer/ipch/
PinBox/tmp/
PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject/Debug/
PinBoxTestProject/PinBoxTestProject.VC.db
PinBoxTestProject/PinBoxTestProject.VC.VC.opendb
PinBoxServer/PinBoxServer/test/
PinBox/PinBox/build/
PinBox/PinBox/PinBox.3dsx
PinBox/PinBox/PinBox.elf
PinBox/PinBox/PinBox.log
PinBox/PinBox.VC.db
PinBox/PinBox/tools/citra
PinBoxServer/PinBoxServer/test.wav
PinBox/PinBox.VC.VC.opendb
PinBox/PinBox/backup/
PinBox/PinBox/data/dog.webp
Release/r0.1.0/PinBox_hb_r0.1.0.rar
*.rar
PinBoxServer/Release/webp.dll
PinBox/PinBox/PinBox-strip.elf
*.cia
*.exe
PinBoxServer/Debug/PinBoxServer.exe
PinBoxServer/Debug/PinBoxServer.ilk
PinBoxServer/Debug/PinBoxServer.pdb
PinBoxServer/Debug/PinBoxServer.ilk
PinBox/PinBox/PinBox.smdh
PinBoxServer/Debug/PinBoxServer.exe
*.ilk
PinBoxServer/Debug/PinBoxServer.exe
PinBoxServer/Release/PinBoxServer.exe
